<div class="modal image-modal transparent" on-swipe-down="closeModal()">
  <div zooming="true" overflow-scroll="false" has-bouncing="false" style="width: 100%; height: 200%">
   <div class="image" style="background-image: url( {{activeSlide}} )">
      </div>
  </div>
<!--   <ion-slide-box active-slide="activeSlide">
  HI {{activeSlide}}

     <ion-slide >
 
    
     <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"
      zooming="true" min-zoom="{{zoomMin}}" 
      delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)" max-zoom="2.5" overflow-scroll="false" has-bouncing="false">

     

    </ion-scroll>
  </ion-slide>
</ion-slide-box> -->
</div>
