<ion-view view-title="{{catG}}" ng-init="proList()">
 <ion-nav-buttons>
                <button class="button button-clear button-icon" ng-click="goBack()" ><i class="ion-chevron-left"></i></button>
</ion-nav-buttons>
 <!--    <ion-header-bar align-title="center" class="bar-light">
        <ion-nav-bar align-title="center">
            <ion-nav-buttons>
                <button class="button button-clear button-icon" ng-click="goBack()" ><i class="ion-chevron-left"></i></button>
            </ion-nav-buttons>
        </ion-nav-bar>
    </ion-header-bar> -->
    <ion-content>
<div class="cate-lv2"> 
            <div class="card cate-lv2-item" ng-repeat="product in particularListItem" >
                <div class="item item-thumbnail-left item-text-wrap" ng-click="productDetail({{product.id}})" ng-show="catG==product.categoryName">
                    <img ng-src="{{ROUTES.Image}}400px/{{product.name | spaceless | lowercase}}/{{product.images[0]}}" onerror="this.src='img/product/no_product.jpg'"/>
                    <h2>{{product.name}}</h2>
                    <div class=" item-text-wrap">{{product.desc}}</div>   <!-- price -->
                    <div class="like"><i class="ion-heart"></i> {{product.like}}</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>




