<ion-view view-title="Wishlist" ng-init="wishList()">
  <ion-nav-buttons side="left">
   <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()">&nbsp;<img src="img/cj4U.svg"></button>
  </ion-nav-buttons>    
  <ion-nav-buttons side="right">
   <div class="buttons">
        <button class="button button-icon" >
       <img src="img/search.svg">
       
        </button>
         <button class="button button-icon" >
       <img src="img/cart.svg">
       
        </button>
      </div>
  </ion-nav-buttons> 
    <ion-content>
      <ion-list class="cate-lv1" ng-class="grid-container" ng-repeat="wishlist in wish">
        <ion-item ng-class="grid" class="item item-thumbnail-left item-text-wrap item-background cate-lv1-item"  ng-repeat="wishlist2 in particularListItem" ng-if="wishlist.code==wishlist2.code">
        {{wishlist2.code}}
          <img src="img/product/no_product.jpg" ng-src="{{ROUTES.Image}}400px/{{product.name | spaceless | lowercase}}/{{wishlist2.images[0]}}" onerror="this.src='img/product/no_product.jpg'"/>
                    <h2>{{wishlist2.name}}</h2>
                    <div class=" item-text-wrap">{{wishlist2.prices[0].prefix}} {{wishlist2.prices[0].price}} </div>   
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>




