/* Empty. Add your own CSS if you like */
.grid {
  height: 200px !important; }

.pane, .view {
  background: #EEECEC; }

.grid-container .list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch; }

/*color bgs for home page*/
.green:before {
  background: rgba(33, 150, 83, 0.8) !important;
  opacity: 1.00; }

.purple:before {
  background: rgba(254, 0, 122, 0.8) !important;
  opacity: 1.00; }

.blue:before {
  background: rgba(0, 50, 158, 0.8) !important;
  opacity: 1.00; }

.red:before {
  /* Rectangle 6 */
  background: rgba(255, 31, 0, 0.8) !important;
  opacity: 1.00; }

.ShortCate {
  list-style: none;
  margin: 0;
  padding: 0; }
  .ShortCate li.cardCAt {
    width: 48%;
    margin: 1%;
    float: left;
    display: block;
    border-radius: 2px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 5px #ccc; }
    .ShortCate li.cardCAt .like {
      position: absolute;
      padding: 10px;
      top: 0; }
      .ShortCate li.cardCAt .like img {
        height: 20px !important; }
    .ShortCate li.cardCAt img {
      width: 100%;
      clear: both;
      max-height: 150px;
      overflow: hidden; }
    .ShortCate li.cardCAt .cardCont {
      display: block;
      padding: 10px 0px 0 0 0; }
      .ShortCate li.cardCAt .cardCont h2 {
        font-size: 16px;
        font-weight: normal;
        color: #555;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        color: #555; }
      .ShortCate li.cardCAt .cardCont div.saleprice {
        color: #FE7A00;
        font-size: 14px; }
      .ShortCate li.cardCAt .cardCont div.nprice {
        text-decoration: line-through;
        font-size: 14px; }

.bar {
  min-height: 40px;
  border-bottom: none; }
  .bar .bar.bar-positive {
    background: #fe7a00;
    background: -moz-linear-gradient(top, #fe7a00 0%, #e15151 100%);
    background: -webkit-linear-gradient(top, #fe7a00 0%, #e15151 100%);
    background: linear-gradient(to bottom, #fe7a00 0%, #e15151 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7a00', endColorstr='#e15151',GradientType=0 ); }

.ion-user {
  background: url(../img/user.svg);
  background-position: center center;
  background-repeat: no-repeat; }

.ion-hearti {
  background: url(../img/heart.svg);
  background-position: center center;
  background-repeat: no-repeat; }

.ion-noti {
  background: url(../img/notification.svg);
  background-position: center center;
  background-repeat: no-repeat; }

.ion-set {
  background: url(../img/setting.svg);
  background-position: center center;
  background-repeat: no-repeat; }

.homeslider {
  width: 100%; }
  .homeslider .box img {
    width: 100%; }

.cate-lv1 .cate-lv1-item {
  width: 50%;
  margin-bottom: 0;
  float: left; }
  .cate-lv1 .cate-lv1-item .item-wrapper {
    padding: 10px; }
    .cate-lv1 .cate-lv1-item .item-wrapper h2 {
      font-size: 20px; }
    .cate-lv1 .cate-lv1-item .item-wrapper p {
      font-weight: lighter;
      font-size: 12px;
      color: #fff !important;
      line-height: 1em; }

.cate-lv1 li:last-child {
  width: 100%; }

a.skipbtn {
  position: absolute;
  bottom: 20px;
  z-index: 10000;
  color: #fff;
  right: 20px; }

.intro-pager .slider-pager {
  width: 25%; }
  .intro-pager .slider-pager .slider-pager-page {
    width: 10px; }
    .intro-pager .slider-pager .slider-pager-page i.icon {
      font-size: 10px; }
  .intro-pager .slider-pager .slider-pager-page.active i.icon {
    font-size: 10px;
    color: #FF6600; }

.bar .bar-positive {
  background: #fe7a00;
  background: -moz-linear-gradient(top, #fe7a00 0%, #e15151 100%);
  background: -webkit-linear-gradient(top, #fe7a00 0%, #e15151 100%);
  background: linear-gradient(to bottom, #fe7a00 0%, #e15151 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7a00', endColorstr='#e15151',GradientType=0 );
  color: #fff; }

.button-theme {
  /* Rectangle 25 */
  background: linear-gradient(180deg, #FF8403 0%, #FF5044 100%);
  opacity: 1.00;
  border-radius: 21px; }

/*# sourceMappingURL=style.css.map */
